@page
@model Resturant_App.Pages.Resturants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h2>Your resturant was not found</h2>

<a asp-page="./List" class="btn btn-primary">See all Resturants</a>
